
{{>nav}}
<div class="container mt-3 jumbotron">
    <h3 class="text-primary"> Profile </h3><br>
    <h3>Email: {{user.email}}</h3>
    <h3>Full Name: {{user.fullName}}</h3>
    <h3>Age: {{user.age}}</h3>
    <h3>PhoneNumber: {{user.phoneNumber}} </h3>
    <span>
		<img src="./images/{{user.image}}">
	</span>
</div>
